@import '../../scss/colors';

.form{
  width: 350px;
  padding: 30px;
  background-color: $secondary-bg;
  opacity: 0;
  border-radius: 5px;
  transform: translateY(100px);
  transition: all .35s ease;
  transition-delay: .15s;
  position: relative;
}

.popup-wrapper.opened{
  & .form{
    transform: translateY(0);
    opacity: 1;
  }
}