// background colors
$primary-bg:          #1E242C;
$secondary-bg:        #29313B;

// text colors
$primary-text-color:  #ffffff;
$secondary-text-color:#8394a0;

// single colors
$green:               #0cd664;