@import './colors';

html, body{
  width: -webkit-fill-available;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Inter';
  background-color: $primary-bg;
}

body{
  padding-top: 80px;
  height: auto;
}

.container{
  padding-left: 135px;
  padding-right: 135px;
}

.maxw{
  max-width: 1200px;
  margin: 0 auto;
}

.hover--opacity{
  transition: opacity .35s ease;

  @media (hover: hover){
    &:hover{
      opacity: .6;
    }
  }
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 30px;
  row-gap: 30px;
}

a{
  text-decoration: none !important;
}